.line1 {
  font-family: Poppins-Regular;
  font-size: 28px;
  line-height: 1.2857;
}

.line2 {
  font-family: PlayfairDisplay-Bold;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
}

.cards p {
  color: black;
}

.cards .layer {
  opacity: 0;
  transition: 0.5s;
}

.cards:hover p,
button {
  color: white;
}

.cards:hover .layer {
  opacity: 100;
}

.activeNavFilter {
  border-bottom: solid 1px black;
  transition: 0.5s;
}

.layerProd {
  transition: 0.5s;
}

.product:hover .layerProd {
  bottom: 0% !important;
  transition: 0.5s;
  z-index: 99999999999999 !important;
}

.quickViewBtn:hover {
  background-color: black !important;
  color: white !important;
}

.SpecialOffers {
    transition: 0.7s;
  width: 225px;
  height: 300px;
  background-position: center center;
  background-size: 243px;
  background-repeat: no-repeat;
  position: relative;

}

.SpecialOffers:hover {
    transition: 0.7s;
  background-size: 280px;
}

.QuickViewBtn {
    transition: 0.7s;
  bottom: -25%
}

.SpecialOffers:hover .QuickViewBtn {
    transition: 0.7s;
  bottom: 0% !important
}
.QuickViewBtn button:hover{
  background-color:black !important;
  color:white !important;
}
