
::-webkit-scrollbar{
  width: 0px;
}




ul li{
  padding: 15px;
  margin: 0;
  width: 100%;

}
.ul li:not(:last-child) {
}
a{
list-style: none;
text-decoration: none;
color: black;

}
ul li ul{
  text-decoration: none;
  list-style: none;
  height: 0px;
  transition: 1s !important;
}









@media (min-width: 0px) and (max-width: 640px){
  .close{
    right: -60% !important;
  }
  .open{
    left: 0% !important;


  }
.main {
  width: 60% !important;
}
}
@media (min-width: 640px) and (max-width: 768px) {
  .close{
    left: -50% !important;
  }
  .open{
    left: 0% !important;


  }
.main {
  width: 50% !important;
}

}
@media (min-width: 768px) and (max-width: 1082px) {
  .close{
    left: -35% !important;
  }
  .open{
    left: 0% !important;


  }
  .main {
    width: 35% !important;
  }

}
@media (min-width: 1083px) and (max-width: 999999999px){
  .close{
    left: -35% !important;
  }
  .open{
    left: 0% !important;


  }
  .main {
    width: 35% !important;
  }

}


