
.shkl1{
  position: absolute;
  width:200px;
  height:200px;
  background-color:rgb(223, 106, 106);
  border-radius: 50%;
  z-index: 5;
transition: 0.5s !important;
}
.shkl12{
  position: absolute;
  width:200px;
  height:350px;
  background-color:rgb(223, 106, 106);
  border-radius: 70px 0 0 0;
  z-index: 1;
transition: 0.5s !important;
margin-left: -45px;
margin-top: 93px;
}
.shkl13{
  position: absolute;
  background-color:rgb(223, 106, 106);
  z-index: 6;
transition: 0.5s !important;
width: 80%;
height: 85%;

}

.shkl2{
  position: absolute;
  width:200px;
  height:300px;
  background-color:rgb(52, 179, 237);
  margin-left: 100px;
  margin-top: 100px;
  z-index: 2;
  border-radius: 0 0 80px 0;
  transition: 0.5s !important;

}
.shkl22{
  position: absolute;
  width:270px;
  height:700px;
  background-color:rgb(52, 179, 237);
  margin-left: 85px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  border-radius:70px 0 0 0;
  transition: 0.5s !important;

}
.imageP{
  position: absolute;
  width: 100%;
  height:100%;
  margin-left: -44px;
  background-image: url(../../../assets/Myproject.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10 !important;
  margin-top:110%;
  transition: 0.5s !important;
}
.doc{
  position: absolute;

  width: 80%;
  height:85%;
  margin-left: 100%;
    margin-top: -10px;
  background-image: url(../../../assets/doc.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10 !important;

  transition: 0.5s !important;
}
