<app-navbar></app-navbar>
<div class="  d-flex align-items-center justify-content-around " >

  <div class=" p-5 mt-5 offset-1  position-relative overflow-hidden "
    style="border-radius: 50px; height: 490px ; width: 400px; background-image: url(../../../assets/13972.jpg); background-position: center; background-size: contain;">
    <div class=" imageP " id='imageP'></div>
    <div class=" doc " id='doc'></div>
    <div class=" shkl1" id="shkl1"></div>
    <div class=" shkl2" id="shkl2"></div>
  </div>




  <div class=" p-5 col-6">
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sit! Ratione ea libero vitae nam. Sit ducimus
      earum, dignissimos vero ipsam quibusdam nostrum quos qui!</p>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ipsam deserunt ullam. Sequi eaque quae ducimus aut
      obcaecati, illo officia nesciunt hic explicabo doloremque odit necessitatibus, unde officiis eveniet. Totam labore
      explicabo distinctio dolor quia. Quasi facilis recusandae voluptatum velit, ullam vitae commodi fuga excepturi
      veritatis quisquam iure mollitia quis facere. Nisi explicabo aspernatur praesentium reprehenderit eos velit
      reiciendis in.</p>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit adipisci suscipit harum cum magni. Illum
      atque pariatur in dolor eligendi aliquid optio voluptates nesciunt consequuntur delectus! Autem blanditiis
      recusandae, porro obcaecati cumque rem. Maiores deserunt consequatur laboriosam eaque ipsum dolore. Optio, dolorum
      dolore. Pariatur expedita hic odit? Quasi, animi quisquam.</p>
      <br>
      <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>
