
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track{
  background-color: #000000;
  border-radius: 10px;
  height: 80% !important;
}
::-webkit-scrollbar-thumb{
  background-color: #dc3545;
  border-radius: 20px;
  transition: 1s !important;
  margin-right: 20px !important;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #ae0b1b;
}
.delete{
  display: none;
  cursor: pointer;
  color: #dc3545;
}
.product:hover .delete{
  display: block;
}
.title:hover{
color: #dc3545;
}
.delete:hover{
  color: #000000;
}
.buttons button{
  font-size: 12px !important;
}




  @media (min-width: 0px) and (max-width: 640px){
    .close{
      right: -80% !important;
    }
    .open{
      right: 0% !important;


    }
  .main {
    width: 80% !important;
  }
  }
  @media (min-width: 640px) and (max-width: 768px) {
    .close{
      right: -80% !important;
    }
    .open{
      right: 0% !important;
      border-radius: 0 0 500px 0 !important;


    }
  .main {
    width: 80% !important;
  }

  }
  @media (min-width: 768px) and (max-width: 1082px) {
    .close{
      right: -35% !important;
    }
    .open{
      right: 0% !important;


    }
    .main {
      width: 35% !important;
    }

  }
  @media (min-width: 1083px) and (max-width: 999999999px){
    .close{
      right: -35% !important;
    }
    .open{
      right: 0% !important;


    }
    .main {
      width: 35% !important;
    }

  }
