.maincolor{color: hsl(26, 100%, 55%);;}
.maincolorbg{background-color: hsla(26, 100%, 55% ,0.3);;}
.bg-orange{background-color:  hsl(26, 100%, 55%);}


/* input:focus {
  outline: none !important;
  box-shadow:none;
  border: 0;
  border-left: 3px solid #dc3545;
  border-radius: 0;}
  textarea:focus {
    outline: none !important;
    box-shadow:none;
    border: 0;
    border-left: 3px solid #dc3545;
    border-radius: 0;} */
