<app-loading *ngIf="loading"></app-loading>
<div class=" container h-100">
  <p class=" m-0 p-0 fa mt-4 d-flex align-items-center justify-content-center h-auto fs-4 ">add product</p>

  <div class="row d-flex align-items-center h-100 m-0 flex-sm-wrap-reverse" style="height: 77vh !important;">

    <div *ngIf="add"  class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center fa ">
      <div class=" col-5 h-50 displayProduct ">
        <img class="col-12 w-100 h-100 " [ngClass]="[hide]" src={{mainimg}} alt="">
        <div class=" col-12 w-100  d-flex justify-content-center  ">
          <div class=" w-25 " *ngFor="let item of productImg">
            <img class=" w-100 h-100" [src]="item" alt="">
          </div>
        </div>
      </div>

      <div class=" col-6 offset-1   d-flex flex-column justify-content-around h-50">
        <h3 class="  text-danger ">Z-STORE Company</h3>
        <h5 class="  fw-bold"> {{name}} </h5>
        <p class="  opacity-50">{{description}}</p>
        <p>{{category}}</p>
        <div class=" d-flex flex-row align-items-center">
          <h3 id="price" class="  d-flex align-items-center ">${{(price / 100) *(100-sale) }}</h3>
          <p class="ms-3 fs-6 maincolor maincolorbg px-1 rounded-3">%{{sale}}</p>
        </div>
        <p id="total" class="  text-decoration-line-through opacity-50">${{price}}</p>

      </div>
    </div>

    <div class=" col-lg-6 col-sm-12 " [ngClass]="{'offset-lg-6 offset-0': !add}">

      <div class=" col-12 row d-flex align-items-center justify-content-between m-0">
        <select class=" col p-2 rounded-3 border-0 border-bottom" (change)="select()" id="categoryId_AP">
          <option>Select category:</option>
          <option *ngFor="let item of allCategories" value="{{item._id}}">{{item.name}}</option>
        </select>

        <select class=" col mx-4 p-2 rounded-3 border-0 border-bottom" (change)="select()" id="subCategoryId_AP">
          <option *ngIf="categoryId=='Select category:'" selected>Select category first:</option>

          <option *ngIf=" categoryId !='Select category:'" selected>Select SubCategory:</option>

          <option *ngFor="let item of allSubCategories" value="{{item._id}}"
            [ngClass]="{'d-none': item.categoryId?._id != categoryId}">{{item.name}}</option>
        </select>

        <select class=" col p-2 rounded-3 border-0 border-bottom" (change)="select()" id="brandId_AP">
          <option selected>Select Brand:</option>
          <option *ngFor="let item of allBrands" value="{{item._id}}">{{item.name}}</option>
        </select>
      </div>


      <div class="mt-2">
        <input type="file" id="imgs" multiple (change)="uploads($event)" src="" alt=""
          class="form-control ng-untouched ng-pristine ng-invalid d-none" multiple>
        <label class=" btn btn-light w-100" for="imgs">Product Pictures</label>
      </div>



      <div class="mt-2 ">
        <input type="text" [(ngModel)]="name" class="form-control ng-untouched ng-pristine ng-invalid"
          placeholder="name">
      </div>

      <div class=" mt-2">
        <input type="text" [(ngModel)]="description" class="form-control ng-untouched ng-pristine ng-invalid"
          placeholder="description">
      </div>


      <div class="input-group mt-2 col-12" *ngIf="forWhom === 'female'">
        <label class="input-group-text">category</label>
        <select class="form-select">
          <option selected><a class="dropdown-item">click</a></option>
        </select>
      </div>

      <div class="row">
        <div class="col-3 mt-2 float-end d-flex ">
          <span class="input-group-text left">$</span>
          <input type="number" [(ngModel)]="price" class="form-control ng-untouched ng-pristine ng-invalid right"
            placeholder="price">
        </div>

        <div class=" col-3  mt-2 d-flex">
          <span class="input-group-text border-end-0 left">%</span>
          <input type="number" [(ngModel)]="sale" class="form-control ng-untouched ng-pristine ng-invalid bords right"
            placeholder="sale">
        </div>

        <div class="col-3 mt-2 float-end d-flex ">
          <input type="number" [(ngModel)]="quantity" class="form-control ng-untouched ng-pristine ng-invalid"
            placeholder="Quantity">
        </div>

        <div class=" col-3  mt-2 float-end d-flex">


            <select class=" w-100 rounded-3  form-control ng-untouched ng-pristine ng-invalid" (change)="select()" id="gender">
              <option>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="All">All</option>
            </select>
          </div>

      </div>

      <div class=" d-flex align-items-center justify-content-between col-12 row m-0 mt-3 overflow-hidden">
        <button (click)="addProduct()"
          class="my-auto btn-danger btn px-4 col-4 ">add Product</button>
        <p [ngClass]="added" class=" my-auto position-relative  col-8 text-success fa  ">Added</p>
      </div>
    </div>
  </div>
