/* input:focus {
  outline: none !important;
  box-shadow:none;
  border: 0;
  border-left: 3px solid #dc3545;
  border-radius: 0;}
  textarea:focus {
    outline: none !important;
    box-shadow:none;
    border: 0;
    border-left: 3px solid #dc3545;
    border-radius: 0;} */
