<app-navbar [cartlength]="cartlength"></app-navbar>



<div class=" w-100 h-100 bg-black position-fixed top-0 bg-opacity-75 p-0 p-sm-5 " [ngClass]="{'d-none': !openProductDetails}"
  style="z-index: 99;">
  <div class="container bg-white position-relative ">
    <div class=" position-absolute top-0 end-0 m-3 cursorPointer" (click)="productdetails.indexx = 0"><i
        (click)="openProductDetails = !openProductDetails" class="bi bi-x-circle-fill"></i></div>
    <app-products-details #productdetails style="z-index: 99;" [productDetails]="productDetails"></app-products-details>
  </div>

</div>

<div class=" col-12 row mt-5 px-md-5 d-flex ">
  <div class=" d-flex position-relative px-5">
<app-filter-btn
  [products]="allProducts"
  (productsChanged)="onProductsChange($event)">
</app-filter-btn>
<app-search-btn
  class="ms-2"
  (searchChanged)="onSearchChange($event)">
</app-search-btn>  </div>
</div>

<div class="row m-0  mt-5 p-5">
  <div
    class=" col-xl-3 col-lg-3  col-md-4 col-sm-6 mb-5 d-flex align-items-center justify-content-center justify-content-md-start flex-column"
    *ngFor="let slide of products let i = index; trackBy: trackById">
    <div style="width: 225px; height: 300px;" class="  position-relative">
      <div class="rounded-3 position-relative rounded-3 overflow-hidden product" style=" width: 225px; height: 300px; ">

        <img [src]="slide.images[0]" loading="lazy" decoding="async" class="product-img" (click)="openDetails(slide)" />

        <div
          class="layer position-absolute w-100 h-25 bg-black bg-opacity-50 d-lg-flex align-items-center justify-content-center d-none "
          style="bottom: -25%; ">
          <i (click)="addToCart(slide._id)" class="mood fab fa-opencart text-white fs-4 cursorPointer"></i>
        </div>




      </div>

    </div>
    <div class="mt-1" style="width: 225px;">
      <div class=" w-100 d-flex align-items-center justify-content-between">
        <p class=" m-0 text-gray fs-6"> {{slide.name}}</p>
        <i class="bi cursorPointer " [ngClass]="ifInWishlist(slide)?'bi-heart-fill text-danger':'bi-heart'"
          (click)="addToFavorites(slide._id,$event)"></i>
      </div>
      <div class=" w-100 d-flex align-items-center justify-content-between">
        <p class=" m-0 text-gray">{{slide.finalPrice}}$ </p>
        <i (click)="addToCart(slide._id)" class="fab fa-opencart text-black cursorPointer d-block d-lg-none"></i>

      </div>


    </div>
  </div>
</div>

<div class="pagination-wrapper">
  <button class="nav-btn" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
    ‹ Prev
  </button>

  <ng-container *ngFor="let page of paginationPages">
    <button *ngIf="page !== '...'; else dots" class="page-btn" [class.active]="page === currentPage"
      (click)="goToPage(page)">
      {{ page }}
    </button>

    <ng-template #dots>
      <span class="dots">…</span>
    </ng-template>
  </ng-container>

  <button class="nav-btn" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
    Next ›
  </button>
</div>

<app-login-first *ngIf="loginFirst" (closeL)="loginFirst = $event"></app-login-first>
